@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;

}

:root {
    --main-color: rgb(255, 255, 255);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    min-height: 100vh;
}